<%- include('partials/header') %>
<h1>Pagina con EJS</h1>
<p><%= title %></p>

<% if (isActive) {%>
<p>El servidor esta activo</p>
<% } else{ %>
<p>El servidor esta inactivo</p>
<% }%>

<ul>
  <% for(let i = 0; i < users.length; i++){ %>
  <li><%= users[i].id %> <%= users[i].name%>  <%= users[i].numero %> %></li>
  <% } %>
</ul>

<%- include('partials/footer') %>
